<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="reg" method="post">
    {% csrf_token %}
    User name:<input type="text" name="username"><br>
    First name:<input type="text" name="first_name"><br>
    Last name:<input type="text" name="last_name"><br>
    Email:<input type="email" name="email"><br>
    Password:<input type="password" name="password1"><br>
    Confirm Password:<input type="password" name="password2"><br>
    <input type="submit" value="login">
</form>
<div>
    {% for message in messages%}
    <h3>{{ message }}</h3>
    {% endfor%}
</div>
</body>
</html>